*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.flex{
    display:flex;
    align-items: center;
    justify-content: flex-start;
}
.title_bar{
    width: 100%;
    padding: 1.4rem;
    background-color: #ECE52C;
}
.img1{
    text-align: center;
}
